.button {
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 15px;
    -fx-background-color: #ffffff;
}

.text-area .scroll-pane,
.text-area .scroll-pane .viewport .content {
    -fx-background-color: #000000;
}

.text-area {
    -fx-font-size: 20px;
    -fx-text-fill: #ffffff;
}

.yellowButton {
    -fx-background-color: yellow;
}

#clearButton {
    -fx-background-color: red;
}