.button {
    -fx-background-image: url('../img/clearButton.png');
    -fx-background-position: center;
}

.button:hover {
    -fx-opacity: 0.3;
}

.text-area {
    -fx-font-family: 'Ubuntu Light';
    -fx-font-size: 13;
    -fx-font-style: italic;
}

.text-area:focused .scroll-pane .viewport .content {
    -fx-background-color: #dddddd;
}